<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/normal.css}">
<head>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/loadFooter.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
</head>
<div class="container">
    <div class="include_wrap" data-include-path="header.html"></div>
    <div th:if="${member != null}">
        <input type="hidden" id="loginUser" th:value="${member.getUserId()}"></div>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.userId}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>