<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/normal.css}">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="include_wrap" data-include-path="header.html"></div>
<div th:if="${member != null}">
    <input type="hidden" id="loginUser" th:value="${member.getUserId()}"></div>
</div>
<div class="writeTitle">
    <h1>글쓰기</h1>
</div>
<div class="write">
    <form id="writeForm" name="writeForm" enctype="multipart/form-data">
<!--        <input id="file" type="file" name="file" accept="image/*" multiple>-->
<!--        <output id="output" name="output"></output>-->
        <main class="container">
            <label class="label" id="label" for="input">
                <div class="inner" id="inner">드래그하거나 클릭해서 업로드</div>
            </label>
            <input id="input" class="input" name="file" accept="image/*" type="file" required="true" multiple="true" hidden="true">
            <p class="preview-title">미리보기</p>
            <div class="preview" id="preview"></div>
        </main>
        <div class="updateImg">
            <label>최대 6개 이미지를 업로드 가능</label>
            <button type="button" id="updateImg">이미지 수정 삭제</button>
        </div>
        <p>
            <label id="title_label">제목</label>
        </p>
        <p>
            <input type="text" id="title" name="title" autocomplete="off" required>
        </p>
        <p>
            <label id="content_label">내용</label>
        </p>
        <p>
            <textarea id="content" name="content" autocomplete="off" required></textarea>
        </p>
        <input type="hidden" id="boardType" name="boardType" th:value="${boardType}">
        <button type="button" id="register_btn" class="register_btn"><span>등록하기</span></button>
    </form>
</div>
<script th:src="@{/js/logout.js}"></script>
<script th:src="@{/js/dragAndDrop.js}"></script>
</body>
</html>
<script>
    function includeHtml() {
        var allElements = $(".include_wrap");
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;

            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, false);
                xhttp.send();
            }
        });
    }

    $(document).ready(function() {
        includeHtml();
        var loginUser = document.getElementById('loginUser');
        if (loginUser != null) $('#login').hide();
        else $('#logout').hide();
    });



    <!--    document.getElementById('file').addEventListener('input', (event) => {-->
<!--        const files = event.target.files;-->
<!--        output.textContent = Array.from(files).map(file => file.name).join('\n');-->
<!--    })-->

<!--    const attachedFile = [];-->

<!--    function isPresent(f) {-->
<!--        for (let i = 0; i < attachedFile.length; i++) {-->
<!--            if( f.name == attachedFile[i].name ) {-->
<!--                return true;-->
<!--            }-->
<!--            return false;-->
<!--        }-->
<!--    }-->


    const register = document.getElementById('register_btn');
    register.addEventListener('click', createForm, false);

    function createForm() {
        const preview = document.querySelector(".preview").children;
        for(const element of preview) {
            const a = element.id;
            for(const file of arr) {
                if (file.name == a) formData.append('file', file);
            }
        }
        var data = {
            title : $("#title").val(),
            content : $("#content").val(),
            boardType : $("#boardType").val()
        }
        formData.append("info", new Blob([JSON.stringify(data)], {type: "application/json"}));

        $.ajax ({
            type: "POST",
            url: "/newBoard",
            data : formData,
            contentType : false,
            processData : false,
            success : function(dataType) {
                alert("게시글 작성 성공");
                location.replace("/boards?boardType=" + dataType.data);
            }, error : function(data) {
                alert("에러 발생");
            }
        });
    }
<!--    base64 to blob-->
<!--    function abc(base64String) {-->
<!--        const binaryString = atob(base64String.split(",")[1]);-->
<!--        const arrayBuffer = new ArrayBuffer(binaryString.length);-->
<!--        const view = new Uint8Array(arrayBuffer);-->
<!--        for (let i = 0; i < binaryString.length; i++) {-->
<!--            view[i] = binaryString.charCodeAt(i) & 0xff;-->
<!--        }-->
<!--        return new Blob([arrayBuffer], { type: "image/png" })-->
<!--    }-->
</script>