<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/normal.css}">

<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/logout.js}"></script>
</head>
<body>
<div class="include_wrap" data-include-path="header.html"></div>
<div th:if="${member != null}">
    <input type="hidden" id="loginUser" th:value="${member.getUserId()}"></div>
</div>
<h1 style="text-align: center; font-weight: bold;">수정폼</h1>
<div class="formDetail">
    <input type="hidden" id="no" th:value="${no}">
    <div class="title_area">
        <label>제목</label>
        <input type="text" id="title" name="title" th:value="${title}">
    </div>
    <div class="content_area">
        <label>내용</label>
        <textarea id="content" name="content" th:text="${content}"></textarea>
    </div>
    <form id="imageForm">
        <div class="image_area">
            <label>추가할 파일</label>
            <input id="file" type="file" name="file" accept="image/*" multiple>
            <output id="output" name="output"></output>
        </div>
    </form>
    <div class="button_area">
        <button id="modify_btn" onclick="updateForm()">수정하기</button>
    </div>
</div>
<div>
    <div th:each="files : ${boardFile}">
        <div class="images" th:if="${files.fileName != ''}">
            <div th:each="file : ${#strings.setSplit(files.fileName, ',')}">
                <div class="imageDetail" th:if="${#strings.trim(file) != ''}">
                    <img th:src="@{|/uploadImage/${boardType}/${#strings.trim(file)}|}" width="100" height="200" alt="없음">
                    <div class="removeImage">
                        <input type="checkbox" name="images" th:value="${#strings.trim(file)}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <input type="hidden" id="boardType" th:value="${boardType}">
</div>
</body>
</html>
<script>
    function includeHtml() {
        var allElements = $(".include_wrap");
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;

            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, false);
                xhttp.send();
            }
        });
    }

    $(document).ready(function() {
	    includeHtml();
	    var loginUser = document.getElementById('loginUser');
	    if (loginUser != null) $('#login').hide();
	    else $('#logout').hide();
	});

	document.getElementById('file').addEventListener('input', (event) => {
        const files = event.target.files;
        output.textContent = Array.from(files).map(file => file.name).join('\n');
    })

    function updateForm() {
<!--        체크한 것 리스트-->
        const query = 'input[name="images"]:checked';
        const selectAll = document.querySelectorAll(query);
        let result = '';
        selectAll.forEach((el) => {
            result += el.value + ', ';
        });
<!--        체크안한 것 리스트-->
        const query1 = 'input[name="images"]:not(:checked)'
        const selectAll1 = document.querySelectorAll(query1);
        let result1 = '';
        selectAll1.forEach((el) => {
            result1 += el.value + ', ';
        });

        let formData = new FormData();
        var inputFile = $("input[name='file']");

        var files = inputFile[0].files;

        for(var i =0;i<files.length;i++){
			formData.append("file", files[i]);
		}

        var data = {
            no : $("#no").val(),
            title : $("#title").val(),
            content : $("#content").val(),
            boardType : $("#boardType").val(),
            deleteFileName : result,
            remainFileName : result1,
        }

        formData.append("info", new Blob([JSON.stringify(data)], {type: "application/json"}));

        $.ajax ({
            type: "POST",
            url: "/updateForm",
            data : formData,
            contentType : false,
            processData : false,
            success : function(dataType) {
                alert("게시글 변경 성공");
                location.replace("/boards?boardType=" + dataType.data);
            }, error : function(data) {
                alert("에러 발생");
            }
        });
<!--        $.ajax ({-->
<!--            type: "POST",-->
<!--            url: "/updateForm",-->
<!--            data: JSON.stringify(data),-->
<!--            dataType : "json",-->
<!--            success : function(dataType) {-->
<!--                alert("게시글 변경 성공");-->
<!--                location.replace("/boards?boardType=" + dataType.data);-->
<!--            },-->
<!--            error : function(data) {-->
<!--                alert("에러 발생");-->
<!--            }-->
<!--        });-->
    }

</script>
