<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/normal.css}">

<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/logout.js}"></script>
</head>
<body>
<div class="include_wrap" data-include-path="header.html"></div>
<div th:if="${member != null}">
    <input type="hidden" id="loginUser" th:value="${member.getUserId()}"></div>
</div>
<h1 style="text-align: center; font-weight: bold;">수정폼</h1>
<div class="formDetail">
    <input type="hidden" id="no" th:value="${no}">
    <div class="title_area">
        <label>제목</label>
        <input type="text" id="title" name="title" th:value="${title}">
    </div>
    <div class="content_area">
        <label>내용</label>
        <textarea id="content" name="content" th:text="${content}"></textarea>
    </div>
    <div class="button_area">
        <button id="modify_btn" onclick="updateForm()">수정하기</button>
    </div>
</div>
</body>
</html>
<script>
    function includeHtml() {
        var allElements = $(".include_wrap");
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;

            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, false);
                xhttp.send();
            }
        });
    }

    $(document).ready(function() {
	    includeHtml();
	    var loginUser = document.getElementById('loginUser');
	    if (loginUser != null) $('#login').hide();
	    else $('#logout').hide();
	});

    function updateForm() {
        var data = {
            no : $("#no").val(),
            title : $("#title").val(),
            content : $("#content").val()
        }
        $.ajax ({
            type: "POST",
            url: "/updateForm",
            data: JSON.stringify(data),
            dataType : "json",
            contentType : "application/json;charset=UTF-8",
            success : function(dataType) {
                alert("게시글 변경 성공");
                location.replace("/boards?boardType=" + dataType.data);
            },
            error : function(data) {
                alert("에러 발생");
            }
        });
    }
</script>
