/* 폰트 시작 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --bgColor: #3a3a3a;
  --hoverBg: #616161;
  --text: #bbb;
}

/* createMemberForm */
/* createMemberForm end */

/* 폰트 끝 */
.top {
    margin : 0 auto;
    width : 85%;
    height : 60px;
    display : flex;
    /* 바깥 div에 설정 */
    justify-content : space-between;
    align-items: center;
}

/* 노멀라이즈 시작 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;		/* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

body {
  background-color: #E2E3E9;
}

a {
  color: inherit;		/* 부모 엘리먼트의 값을 물려받는다 */
  text-decoration: none;	/* 해당 태그의 text-decoration을 none으로 하는 것으로 밑줄을 제거한다 */
}
/* 노멀라이즈 끝 */

/* 커스텀 시작 */

/*
:root {
  --site-width: 500px;
}

.con-min-width {
  min-width: var(--site-width);
}

.top-bar > .top {
  width: var(--site-width);
}
*/
/* 드롭다운 메뉴 시작 */

.top-bar__menu-box-1 {
    padding-bottom : 10px;
}

.top-bar__menu-box-1 > ul ul {
  display: none;
}

.top-bar__menu-box-1 > ul > li {
  display: inline-block;
}

.top-bar__menu-box-1 {
  text-align: center;
  margin-top: 25px;
}

.top-bar__menu-box-1 ul {
  background-color: darkslateblue;
  color: azure;
  font-weight : bold;
}

.top-bar__menu-box-1 ul > li > a {
  display: block;
  font-size: 1rem;
  padding: 10px 50px;
}

.top-bar__menu-box-1 ul > li:hover > a {
  background-color: #555;
}

.top-bar__menu-box-1 > ul > li {
  position: relative;
}

.top-bar__menu-box-1 > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.top-bar__menu-box-1 > ul > li:hover > ul {
  display: block;
}

.top-bar__menu-box-1 > ul {
  border-radius: 15px;
  width: 85%;
  margin: 0 auto;
}
/* 드롭다운 메뉴 끝 */

/* 커스텀 끝 */
.error_next_box {
  margin-top: 9px;
  font-size: 12px;
  color: red;
  display: none;
}

.green {
    color: #08a600!important
}

.memberList_btn {
    visibility : hidden;
}

td {
    width: 200px;

}

th {
    text-align: left;
}

table { border-collapse: collapse; }

tr {
    border-bottom : 1px solid;
}

.paging {
    font-family: arial;
    font-size: 25px;
    width: 75%;
    margin: 0 auto;
    display: block;
    text-align : center;
}

b {
    color: green;
}

/* boardList css */
.noBoard {
    width : 75%;
    margin : 0 auto;
    text-align : center;
}

.recommendBoard {
    width : 75%;
    margin : 0 auto;
}

/* boardDetail css */
.createCommentItem {
    margin: auto;
    display: block;
}

.updateCommentText {
    margin: auto;
}
.updateCommentText input {
    width: 75%;
    height: 30px;
}
.comment_label {
    height : 40px;
    width : 100px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.board_content {
    width : 300px;
    height : 100px;
    margin : auto;
}

/* .ctrl_btn {
    border : 1px solid black;
    margin : 1px;
    padding : 10px;
    text-align: center;
} */

.ctrl_btn {
    border : 1px solid black;
    width : 75%;
    text-align: center;
    margin : 0 auto;
    display : flex;
    justify-content : center;
    align-items : center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ctrl_btn_child {
    display: inline-block;
    width : 300px;
}

.createBtn {
    width : 75%;
    margin : 0 auto;
    text-align : center;
}

.create_btn {
    width: 100px;
}
.search {
    border : 1px solid;
    margin : 0 auto;
    width : 75%;
    margin-top : 5px;
    margin-bottom : 5px;
    padding : 10px;
}

.search_child {
    display : flex;
    /* 바깥 div에 설정 */
    justify-content : center;
    align-items: center;
}

.searchItem input {
    width : 400px;
}

.createCommentItem {
    margin: auto;
    display: block;
}

.updateCommentText {
    margin: auto;
}
.updateCommentText input {
    width: 75%;
    height: 30px;
}

.good_content {
    width : 75%;
    height : 50px;
    margin : 0 auto;
    font-size : 20px;
    font-weight : bold;
}

.good_content_child {
    display : flex;
    justify-content : space-between;
    align-items: center;
}

.board_content {
    border : 1px solid black;
    width : 75%;
    height : 300px;
    margin : 0 auto;
    margin-bottom : 10px;
    text-align : center;
    line-height : 70px;
}
.boardTitle {
    display : flex;
    justify-content: center;
    align-items: center;
}
.boardTitle input {
    width: 75%;
    height: 30px;
    padding-left : 20px;
}
.boardContent {
    display : flex;
    justify-content: center;
    align-items : center;
    height : 70%;
}
.boardContent textarea {
    width: 75%;
    height : 100%;
    padding-left : 20px;
    font-family : Ubuntu;
}
/*
.images {
    width : 75%;
    max-width : 75%;
    height : 200px;
    margin : 0 auto;
    display : flex;
    flex-direction : row;
    flex-flow : wrap;
    justify-content : flex-start;
    align-items : center;
    border : 1px solid black;
    margin-bottom : 10px;
}
*/

/*updateBoard */
.image_area {
    width : 75%;
    margin : 0 auto;
    margin-bottom : 5px;
}

.images {
  width: 73%;
  margin : 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  padding: 18px;
  margin-bottom: 16px;
  margin-top: 10px;
  border-radius: 8px;
  align-items: center;
  height: 200px;
  border : 1px solid black;
}

.imageDetail {
    /*
    margin-right : 5px;
    display : flex;
    flex-direction : column;
    */
    width: 156px;
    height: 200px;
    overflow: hidden;
}

.removeImage {
    text-align : center;
}

.originalImg {
    width : 75%;
    margin : 0 auto;
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: red;
}

/* 테이블 */
td {
    width: 200px;
}
th {
    text-align: left;
}
table { border-collapse: collapse; }
tr {
    border-bottom : 1px solid;
}
.comment {
  width : 75%;
  margin : 0 auto;
}
.comment_label {
  width : 75%;
  margin : 0 auto;
}
.comment_table {
  width : 100%;
}
.createCommentItemDetail {
  width : 75%;
  margin : 0 auto;
}
.createCommentItemDetail textarea {
  width : 100%;
  height : 100px;
}
.updateCommentText {
  width : 75%;
  margin : 0 auto;

}
.updateCommentText textarea {
  width : 100%;
  height : 100px;
}
.createReplyItem {
  width : 75%;
  margin : 0 auto;

}
.createReplyItem textarea {
  width : 100%;
  height : 100px;
}
.writeTitle {
    width : 75%;
    margin : 0 auto;
}

.write {
    width : 75%;
    margin : 0 auto;
}

.write input {
    width : 100%;
    height : 30px;
}
.write textarea {
    width : 100%;
    height : 300px;
}

/* updateBoard.html */
.formDetail {
    border: 1px solid;
    width: 75%;
    /* height: 425px; */
    height: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    /* line-height: 70px; */
}
.button_area {
    text-align: center;
    padding: 10px;
}

.title_area {
    display : flex;
    justify-content : center;
    align-items : center;
}

.content_area {
    display : flex;
    justify-content : center;
    align-items : center;
}

.title_area input {
    width : 75%;
    height : 30px;
}

.content_area textarea {
    width : 75%;
    height : 300px;
    font-family : Ubuntu;
}

/* checkLogin.html */
.loginForm {
    border : 1px solid;
    width : 75%;
    margin : 0 auto;
    text-align: center;
    height : 210px;
    line-height : 70px;
}

.loginId {
    margin: 0 auto;
}

.loginId label {
    display: inline-block;
    width : 100px;
}

.loginPwd {
    margin: 0 auto;
}

.loginPwd label {
    display: inline-block;
    width : 100px;
}

.error_msg {
    text-align : center;
    color : red;
    height: 35px;
}

.loginButton {
    text-align : center;
}

/* myPage */
.updateMemberForm {
    border : 1px solid;
    width : 75%;
    margin : 0 auto;
    line-height : 40px;
    height : 300px;
}

.updateMemberId {
    text-align : center;
}

.updateMemberId label {
    display: inline-block;
    width : 100px;
}

.updateMemberPwd {
    text-align : center;
}

.updateMemberPwd label {
    display: inline-block;
    width : 100px;
}

.updateMemberPwd_error {
    text-align : center;
}

.updateMemberName {
    text-align : center;
}

.updateMemberName label {
    display: inline-block;
    width : 100px;
}

.updateMemberName_error {
    text-align : center;
}

.updateMemberBtn {
    text-align : center;
}

/* createBoardForm dragAndDrop  */

.container {
  width: clamp(0px, 100%, 1000px);
  margin: 32px auto;
  text-align: center;
}

.container label {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  cursor: pointer;
  background-color: var(--bgColor);
}

.inner {
  width: 100%;
  height: 128px
  margin: 64px auto;
  border-radius: 8px;
  font-size: 16px;
  line-height: 128px;
  background-color: var(--bgColor);
  color: var(--text);
}

@media (any-hover: hover){
  .inner:hover{
    background-color: var(--hoverBg);
  }
}

.label--hover{
  background-color: var(--hoverBg);
}

.preview-title{
  font-size: 32px;
  margin-bottom: 8px;
}
.preview_information {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    color: red;
}

.preview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  align-items: center;
  background-color: var(--bgColor);
  height: 200px;
}
/*
.updateImages {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 16px;
   padding: 16px;
   margin-bottom: 16px;
   border-radius: 8px;
   align-items: center;
   background-color: var(--bgColor);
   height: 200px;
}
*/
/*
.imageDetail.embed-img {
    display: none;
}
*/
.embed-img {
  width: 100%;
  height : 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.updateImg {
    margin: 0 auto;
    width : 75%;
    text-align: center;
}
/*
.updateImg {
    width: clamp(50%, 150px, 70%);
    border-top: dashed 1px gray;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.updateImg label {
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
    font-size: 20px;
}
*/