<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/normal.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/loadHeader.js}"></script>
    <script th:src="@{/js/checkLogin.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
</head>
<body>
<div class="include_wrap" data-include-path="header.html"></div>
</body>
</html>